body {
  margin: 0;
}

header {
  background-color: #0B1C51;
  margin-bottom: 40px;
}

header h1 {
  color: white;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  font-size: 52px;
}

header nav {
  display: flex;
  justify-content: center;
  padding: 20px;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  font: montserrat;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

@media all and (min-width: 600px){

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 330px;
  }
  header h1 {
    margin: 14px 0;
    padding-top: 0;
    font-size: 48px;
  }

  header nav {
    margin-top: 8px;
    margin: 30px;
    padding: 0 300px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }
}